### Load in CSVs, Libraries, etc.

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymongo

In [2]:
summaryDATAFRAME = pd.read_csv('../herokuApp/static/data/witsSummaryData.csv')
glanceDATAFRAME = pd.read_csv('../herokuApp/static/data/witsGlanceData.csv')

### 'Summary' DataFrame Transformations

In [3]:
summaryDF = summaryDATAFRAME.copy()
summaryDF = summaryDF.rename(columns={"Reporter":"country","Partner":"trade_partner","Product categories":"category","Indicator Type":"indicator_type","Indicator":"indicator"})
summaryDF.tail(5)

,country,trade_partner,category,indicator_type,indicator,2018,2017,2016,2015,2014,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
25140,Zimbabwe,World,Intermediate goods,Tariff,Weighted Average (%),NaN,NaN,1.43,1.76,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25141,Zimbabwe,World,Raw materials,Tariff,Weighted Average (%),NaN,NaN,0.47,1.94,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25142,Zimbabwe,World,All Products,Trade Indicator,World Growth (%),3.50,5.68,-1.24,-6.61,0.12,...,NaN,NaN,11.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25143,Zimbabwe,Zambia,All Products,Export,Partner share(%)-Top 5 Export Partner,1.65,1.68,2.55,3.41,3.35,...,NaN,NaN,5.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25144,Zimbabwe,Zambia,All Products,Import,Partner share(%)-Top 5 Import Partner,NaN,2.53,3.50,4.62,2.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 'At-a-Glance' DataFrame Transformations

In [4]:
glanceDF = glanceDATAFRAME.copy()
glanceDF = glanceDF.rename(columns={"Reporter":"country","Partner":"trade_partner","Product categories":"category","Indicator Type":"indicator_type","Indicator":"indicator","Indicator Value":"indicator_value"})
glanceDF.head(5)

,country,Year,trade_partner,category,indicator_type,indicator,indicator_value
0,Aruba,2018.0,Unspecified,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,36.429828
1,Aruba,2018.0,Colombia,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,14.632450
2,Aruba,2018.0,United States,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,12.519250
3,Aruba,2018.0,Venezuela,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,2.841938
4,Aruba,2018.0,Netherlands,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,2.812150

### Create Database Connection

In [5]:
engine = create_engine('postgresql://postgres:0607@localhost:5432/WITS')

In [6]:
summaryDF.to_sql('witssummary',engine,index=True)

In [7]:
glanceDF.to_sql('witsglance',engine,index=True)